@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body, h1, h2, ul, li, p {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* cabeçalho */

#cabecalho {
  width: 100%;
  height: 100%;
}

#cabecalho figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
}

#cabecalho figure img{
  width: 100%;
  height: 100%;
  display: block;
}

#cabecalho figure figcaption {
  position: absolute;
  top: 400px;
  color: #ffffff;
  padding: 30px;
  font-size: 30px;
}

nav {
  background-color: #009EE1;
  position: absolute;
  top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 1;
}

nav#menu li{
  display: inline-block;
  padding: 20px;
}

nav#menu a{
  text-decoration: none;
  color: #fff;
}

nav#menu a:hover{
  color: #f70d42;
}

/*  seções */

div#conteudo {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

div.section-background {
  width: 100%;
  background-color: #F8F9F9;
}

section#sobre {
  padding: 50px;
}

section h1.section-titulo {
  padding: 30px;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #333333;
}

section#sobre p {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: justify;
  line-height: 25px;
  color: #333333;
  margin: 0 auto;
  width: 900px;
}

section#section-servicos {
  width: 100%;
  background-color: #009EE1;
  overflow: hidden;
  margin: 0 auto;
}

section#section-servicos div#central {
  display: flex;
  justify-content: center;
  padding: 10px;
}

section#section-servicos div.servicos {
  width: 300px;
  padding: 15px;
}

section#section-servicos h1 {
  background-color: #f70d42;
  clear: both;
}

section#section-servicos p {
  margin: 5px 0px 5px 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

section#section-servicos ul {
  margin: 10px 0px 10px 20px;
}

section#section-servicos ul, li {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

section#section-servicos div.servicos img{
  width: 100%;
}

section#section-servicos div.servicos h2{
  padding: 10px;
}

section#patrocinadores {
  clear: both;
}

/* rodapé */
footer {
  text-align: center;
  background-color: #009EE1;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  display: block;
}